@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home";
}

<div class="mainDiv">
    <div class="leftDiv">
        <h1>Nathaniel Milligan's Home Page</h1>
        <p>I hope to learn C# and the fundamentals of ASP.NET! Professor Hilton is an amazing professor and I'm excited to learn more from him!</p>
        <br />
        <p>Top #3 jobs:</p>
        <ol>
            <li>Project Manager</li>
            <li>Web Developer</li>
            <li>Politician</li>
        </ol>
    </div>

</div>

<img class="temple" src="~/img/IMG_1391.jpg" />
